@import '../../src/css/core/core';
@import '../../node_modules/sass-basis/src/css/basis-core';

.smf-item {
  &.is-hovered:not(.is-highlighted),
  &.is-selected:not(.is-highlighted),
  &.has-child-selected:not(.is-highlighted) {
    &::after {
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      z-index: 1;
      box-shadow: 0 0 0 1px rgba(#007cba, .25);
      @include _transition(box-shadow);
    }
  }
}
