@use '../../../node_modules/sass-basis/src/css/core';

.smf-item {
	&.is-hovered:not(.is-highlighted),
	&.is-selected:not(.is-highlighted),
	&.has-child-selected:not(.is-highlighted) {
		&::after {
			inset: -5px;
			z-index: 1;
			box-shadow: 0 0 0 1px rgba(#007cba, .25);
			@include core.transition(box-shadow);
		}
	}
}
