@import '../../../src/css/core/core';
@import '../../../node_modules/sass-basis/src/css/basis-core';

.smf-item {
	label {
		cursor: pointer;
	}

	&__description {
		margin-top: var(--_margin-2);
		color: var(--_dark-color-gray);
		@include _set-font-size-level(-1);
	}
}
