@use '../../../node_modules/sass-basis/src/css/core';

.smf-item {
	label {
		cursor: pointer;
	}

	&__description {
		margin-top: var(--_margin-2);
		color: var(--_dark-color-gray);
		@include core.set-font-size-level(-1);
	}
}
