@import '../../src/css/core/core';
@import '../../node_modules/sass-basis/src/css/basis-core';

.smf-form .smf-item {
  .smf-text-control {
    &__control {
      @include _form-control();
    }
  }
}
