@import '../../../src/css/core/core';
@import '../../../node_modules/sass-basis/src/css/basis-core';

.smf-form .smf-item {
	.smf-file-control {
		position: relative;

		&__label,
		&__filename {
			display: none;
		}

		> label {
			position: relative;
		}

		@supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
			}

			&:active,
			&:focus,
			&:focus-within {
				&::before {
					border: 1px solid _var-form-control-border-color-focus();
					border-radius: _var-border-radius();
				}
			}

			> label {
				display: inline-flex;
				flex-wrap: nowrap;
				align-items: center;

				> * {
					flex: 0 0 auto;
				}
			}

			&__control {
				display: none;
			}

			&__label {
				@include smf-button();
			}

			&__filename {
				margin-left: 1em;
				display: inline-block;
			}

			&__value {
				margin-top: .25em;
			}
		}
	}
}
