/**
 * Simple table
 */
.smf-form--simple-table {
  & + .smf-action {
    margin-top: .5rem;
  }

  .smf-item {
    padding: 1rem 0;

    &__col--label {
      padding-bottom: .5rem;
    }

    @media (min-width: 768px) {
      display: flex;

      .smf-item__col {
        flex: 1 1 auto;

        &--label {
          max-width: 10em;
          padding-right: 2em;
          padding-bottom: 0;
        }
      }
    }
  }
}

/**
 * Letter
 */
.smf-form--letter {
  & + .smf-action {
    margin-top: .5rem;
  }

  .smf-item {
    padding: 1rem 0;

    &__col--label {
      padding-bottom: .5rem;
    }
  }

  .c-form-control {
    width: 100%;
    max-width: 100%;
  }
}

/**
 * Business
 */
.smf-form--business {
  & + .smf-action {
    margin-top: .5rem;
  }

  .smf-item {
    border: 1px solid #ddd;

    &:not(:first-child) {
      border-top: none;
    }

    &__col {
      padding: 1rem;

      &--label {
        background-color: #f7f7f7;
        border-bottom: 1px solid #ddd;
      }
    }

    @media (min-width: 768px) {
      display: flex;

      .smf-item__col {
        flex: 1 1 auto;

        &--label {
          max-width: 10em;
          border-right: 1px solid #ddd;
          border-bottom: none;
        }
      }
    }
  }
}

.smf-form--simple-table,
.smf-form--letter,
.smf-form--business {
  [data-type="snow-monkey-forms/item"] > .editor-block-list__block-edit > [data-block] {
    margin-top: 0;
    margin-bottom: 0;

    .editor-inner-blocks > .editor-block-list__layout {
      & > .wp-block {
        &:first-child [data-block] {
          margin-top: 0;
        }

        &:nth-last-child(2) [data-block] {
          margin-bottom: 0;
        }
      }

      & > .block-list-appender {
        margin-top: 28px;
      }
    }
  }
}
