.smf-error-messages {
  margin-top: .5em;
  color: #cc3033;
}

.c-label {
  display: inline-flex;
  align-items: center;

  > .c-radio,
  > .c-checkbox {
    margin-right: .25rem;
  }
}

.c-multi-radio,
.c-multi-checkbox {
  > .c-label + .c-label {
    margin-left: 1em;
  }
}

.c-form-control[data-invalid="1"],
.c-select[data-invalid="1"] {
  border-color: #d98585;
}

.c-checkbox[data-invalid="1"] > .c-checkbox__control::before,
.c-radio[data-invalid="1"] > .c-radio__control::before {
  border-color: #d98585;
}

.smf-item[tabindex="-1"],
.smf-complete-content[tabindex="-1"],
.smf-system-error-content[tabindex="-1"] {
  outline: none;
}

.smf-action {
  .c-btn + .c-btn {
    margin-left: .5em;
  }

  .c-btn {
    position: relative;

    .smf-sending {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@keyframes smf-sending {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smf-sending {
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &::before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid rgba(#000, .5);
    border-top-color: transparent;
    border-radius: 100%;
    animation: smf-sending 2s ease-out 0s infinite;
  }
}
