@import 'core/core';
@import '../../node_modules/sass-basis/src/css/basis-core';

.smf-text-control,
.smf-textarea-control {
  &__control {
    @include _form-control();

    &:disabled {
      background-color: _lightest($_color-gray);
    }
  }
}

.smf-textarea-control {
  &__control {
    display: block;
  }
}

.smf-checkbox-control,
.smf-radio-control {
  display: inline-flex;
  align-items: center;

  &__control {
    @include _margin-right(.25);

    @supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
      appearance: none;
      position: relative;
      display: inline-block;
      @include _form-control-base-border();
      background-color: #fff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .035);
      @include _square(16px);

      &:checked {
        background-color: #3a87fd;
        border-color: #3a87fd;

        &::before {
          position: absolute;
          content: '';
          display: block;
        }
      }
    }
  }
}

.smf-checkbox-control {
  @supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
    &__control {
      &::before {
        top: calc(50% - 5px);
        left: calc(50% - 3px);
        transform: rotate(45deg);
        margin: 0 !important;
        height: 8px;
        width: 6px;
        border-style: solid;
        border-color: #fff;
        border-width: 0 2px 2px 0;
        visibility: hidden;
      }

      &:checked {
        &::before {
          visibility: visible;
        }
      }

      &:disabled {
        background-color: _lightest($_color-gray);

        &::before {
          border-color: _dark($_color-gray);
        }
      }
    }
  }
}

.smf-radio-control {
  @supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
    &__control {
      border-radius: 100%;

      &::before {
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        margin: 0 !important;
        @include _circle(6px);
        background-color: #fff;
        visibility: hidden;
      }

      &:checked {
        &::before {
          visibility: visible;
        }
      }

      &:disabled {
        background-color: _lightest($_color-gray);

        &::before {
          background-color: _dark($_color-gray);
        }
      }
    }
  }
}

.smf-select-control {
  display: inline-block;

  &__toggle {
    display: none;
  }

  @supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
    position: relative;

    &__control {
      position: relative;
      z-index: 1;
      appearance: none;
      display:inline-block;
      @include _form-control-base-border();
      background-color: transparent;
      line-height: 1;
      max-width: 100%;
      @include _padding(.5, 1.25, .5, .5);

      &:focus {
        & + .smf-select-control__toggle {
          &::before {
            border-color: #3a87fd;
          }
        }
      }

      &:disabled {
        & + .smf-select-control__toggle {
          background-color: _lightest($_color-gray);
        }
      }
    }

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      display: block;
      background-color: #fff;

      &::before {
        position: absolute;
        top: calc(50% - 4px);
        right: _space(.5);
        content: '';
        display: block;
        @include _square(6px);
        border-style: solid;
        border-color: #000;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
  }
}

.smf-button-control {
  &__control {
    cursor: pointer;
    @include _form-control-base-border();
    background-color: _lighter($_color-gray);
    background-image: linear-gradient(180deg, #fff, _lighter($_color-gray));
    border-radius: $_border-radius;
    @include _padding(.25, .5);
  }
}

.smf-control-description {
  @include _margin-top(.125);
  color: _dark($_color-gray);
  @include _font-size-line-height($_base-font-size-px - 2px);
}

.smf-error-messages {
  @include _margin-top(.25);
  color: #cc3033;
}

.smf-multi-radio-control,
.smf-multi-checkbox-control {
  &__control {
    > .smf-label + .smf-label {
      @include _margin-left(.5);
    }
  }
}

[data-invalid="1"] {
  border-color: #d98585;
}

.smf-item[tabindex="-1"],
.smf-complete-content[tabindex="-1"],
.smf-system-error-content[tabindex="-1"] {
  outline: none;
}

.smf-action {
  .smf-button-control__control {
    @include _padding-right(1.5);
    @include _padding-left(1.5);
  }

  .smf-button-control + .smf-button-control {
    @include _margin-left(.5);
  }

  .smf-button-control__control {
    position: relative;

    .smf-sending {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@keyframes smf-sending {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smf-sending {
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &::before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid rgba(#000, .5);
    border-top-color: transparent;
    border-radius: 100%;
    animation: smf-sending 2s ease-out 0s infinite;
  }
}

@import 'block-styles/app';
