@import 'core/core';
@import '../../node_modules/sass-basis/src/css/basis-core';

.snow-monkey-forms-setting-panel {
  .components-panel__header {
    color: #555d66;
    font-size: 13px;
    font-weight: bold;
  }
}

@import 'block-styles/editor';
