@import 'core/core';
@import '../../node_modules/sass-basis/src/css/basis-core';

.snow-monkey-forms-setting-panel {
  .components-panel__header {
    color: #555d66;
    font-size: 13px;
    font-weight: bold;
  }
}

.block-editor-block-list__layout [data-type="snow-monkey-forms/item"] > .editor-block-list__block-edit::before {
  z-index: 1;
}

.is-selected [data-type="snow-monkey-forms/item"] .block-list-appender {
  display: none !important;
}

.editor-styles-wrapper .editor-writing-flow {
  @import 'app';

  .smf-select-control__control {
    background-image: none;
  }
}

@import 'block-styles/editor';
