.smf-focus-point {
  margin: 0 !important;
  height: 4px !important;
  width: 1px !important;
  border: none !important;
  box-shadow: none !important;
  caret-color: transparent !important;
  background-color: transparent !important;
  pointer-events: none !important;
  line-height: 0 !important;
  font-size: 16px !important;
  padding: 0 !important;
  outline: none !important;
  overflow: hidden !important;
  opacity: 0.1 !important;

  &[disabled] {
    visibility: hidden;
  }
}

.snow-monkey-form {
  position: relative;

  .smf-focus-point {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
}
