.smf-focus-point {
  margin: 0 !important;
  height: 1px !important;
  width: 1px !important;
  border: none !important;
  box-shadow: none !important;
  pointer-events: none !important;
  line-height: 0 !important;
  font-size: 1px !important;
  padding: 0 !important;
  outline: none !important;
  overflow: hidden !important;
  opacity: 0 !important;
}

.snow-monkey-form {
  position: relative;

  .smf-focus-point {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
}
