/**
 * Simple table
 */
.smf-form--simple-table {
  & + .smf-action {
    @include _margin(1, 0);
    text-align: center;
  }

  .smf-item {
    padding: 1rem 0;

    &__col--label {
      @include _padding-bottom(.5);
    }

    @media (min-width: 768px) {
      display: flex;

      .smf-item__col {
        $label-col-width: 14em;
        flex: 1 1 auto;

        &--label {
          flex: 0 0 $label-col-width;
          @include _padding-right(1);
          @include _padding-bottom(0);
          max-width: $label-col-width;
        }

        &--controls {
          flex: 1 1 calc(100% - #{$label-col-width});
          max-width: calc(100% - #{$label-col-width});
        }
      }
    }
  }
}

/**
 * Letter
 */
.smf-form--letter {
  & + .smf-action {
    @include _margin(1, 0);
    text-align: center;
  }

  .smf-item {
    padding: 1rem 0;

    &__col--label {
      @include _padding-bottom(.5);
    }
  }

  .smf-text-control__control {
    width: 100%;
    max-width: 100%;
  }
}

/**
 * Business
 */
.smf-form--business {
  & + .smf-action {
    @include _margin(1, 0);
    text-align: center;
  }

  .smf-item {
    border: 1px solid #ddd;

    &:not(:first-child) {
      border-top: none;
    }

    &__col {
      @include _padding(1);

      &--label {
        background-color: #f7f7f7;
        border-bottom: 1px solid #ddd;
      }
    }

    @media (min-width: 768px) {
      display: flex;

      .smf-item__col {
        $label-col-width: 14em;
        flex: 1 1 auto;

        &--label {
          flex: 0 0 $label-col-width;
          border-right: 1px solid #ddd;
          border-bottom: none;
          max-width: $label-col-width;
        }

        &--controls {
          flex: 1 1 calc(100% - #{$label-col-width});
          max-width: calc(100% - #{$label-col-width});
        }
      }
    }
  }
}
